@page
@model RecruitCat.Raghunsh.Pages.Our_TeamModel
@{
    ViewData["Title"] = "Our Team";
}

<div class="text-center">
    <h1 class="display-4">Our Team</h1>
    <div class="card-deck">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/Imgs/Swetha.jpg" alt="Card image">
            <div class="card-body ">
                <h5 class="card-title">Chief Executive Officer</h5>
                <p class="card-text">Swetha Raghunathan is the CEO of the company. With over 20 plus years of successful work experience in the Technology field, she has managed to grow as the CEO of our company.</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/Imgs/Ben Potter.jpg" alt="Card image">
            <div class="card-body">
                <h5 class="card-title">Chief Technology Officer</h5>
                <p class="card-text">Ben Potter is the CTO our company. He makes all executive decisions with regards to the technological interests of a company.</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/Imgs/Robert.jpg" alt="Card image">
            <div class="card-body">
                <h5 class="card-title">Chief Financial Officer</h5>
                <p class="card-text">Robert is our Chief Financial Officer. He takes care of planning, implementation, managing and running of all the finance activities of a company, including business planning, budgeting, forecasting and negotiations.</p>
            </div>
        </div>
    </div>
</div>
